body {
  background-color: #ffc857;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  height: 20rem;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cell {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lucida console";
  cursor: pointer;
  user-select: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}
.highlight {
  background-color: #f0a000;
}
